{
    "version": "2017-02-28",
    "operation": "Query",
    "query": {
        "expression": "campaignId = :campaignId",
        "expressionValues": {
        ":campaignId": $util.dynamodb.toDynamoDBJson($ctx.source.campaignId)
        }
    }
}